@use "sass:color";

@import "../../custom.scss";

$color-accent: #000000af !default;

$bg-color-l: color.scale($color-accent, $lightness: 90%, $saturation: -75%);
$bg-color-d: color.scale($color-accent, $lightness: -85%, $saturation: -80%);

$nav-bg-l: color.scale($bg-color-l, $alpha: -20%);
$nav-bg-d: color.scale($bg-color-d, $alpha: -20%);

$bg-color-s-l: color.scale($color-accent, $lightness: 80%);
$bg-color-s-d: color.scale($color-accent, $saturation: -80%, $lightness: -80%);

$bg-color-m-l: color.scale($color-accent, $alpha: -80%);
$bg-color-m-d: color.scale($color-accent, $saturation: -70%, $lightness: -80%);


:root {
  --color-accent: #{$color-accent};
  --base-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.15);
  --color-text-secondary: #6c6c6c;
  --color-border: #75757560;

  --color-background: #{$bg-color-l};
  --color-background-second: #{$bg-color-s-l};
  --color-background-mute: #{$bg-color-m-l};
  --color-header: #{$nav-bg-l};
  --color-text: #{color.scale($bg-color-l, $lightness: -90%)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #{$bg-color-d};
    --color-background-second: #{$bg-color-s-d};
    --color-background-mute: #{$bg-color-m-d};
    --color-header: #{$nav-bg-d};
    --color-text: #{color.scale($bg-color-l, $lightness: 85%)};
  }
}
