:root {
  --color-background: #faf8ed;
  --color-background-second: #ede9cf;
  --color-accent: #c1b134;
  --color-header: #faf8edbb;
  --color-text: #2c2c2c;

  --color-text-secondary: #6c6c6c;
  --color-border: #74747460;
  --base-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #141414;
    --color-background-second: #1a1a1a;
    --color-header: #141414bb;
    --color-text: #e3e3e3;

    --base-shadow: 0px 10px 34px 0px rgb(0 0 0 / 40%);
  }
}
