h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
}

p {
  margin: 16px 0;
}

h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -1.2px;
  margin: 33.5px 0;
}

h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.2px;
}

h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
}

pre {
  font-family: "Source Code Pro", monospace;
  background-color: var(--color-background-second);
  border-right: var(--color-accent) 5px solid;
  padding: 10px 20px !important;
  overflow: auto;
  max-width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

pre .highlighted {
  background-color: var(--vp-code-line-highlight-color);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(99% + 2 * 24px);
  display: inline-block;
}

pre .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition: filter 0.35s, opacity 0.35s;
}

.has-focused-lines .line:not(.has-focus) {
  opacity: 0.7;
  transition: filter 0.35s, opacity 0.35s;
}

.has-focused-lines .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}

blockquote {
  border-left: var(--color-accent) 5px solid;
  border-radius: 8px 50px 50px 8px;
  background-color: var(--color-background-second);
  padding: 10px 19px;
  margin: 0;
  width: max-content;
  max-width: 97%;
}

blockquote blockquote {
  margin: 5px 0;
  padding: 5px 10px;
}

blockquote p {
  color: var(--color-text-secondary);
  margin: 0;
}

img,
video {
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  transition: transform 0.4s, border-radius 0.4s,
    border 1.5s ease;
}

img:hover,
video:hover {
  transform: scale(1.1);
  border: var(--color-border) 2px solid;
  border-radius: 20px;
  cursor: zoom-in;
}

video:hover {
  border-radius: 5px;
  transform: scale(1.06);
}

img:active {
  transform: scale(1.3);
}

figcaption {
  margin-top: -.5rem;
  margin-bottom: 2rem;
  display: block;
  text-align: center;
  color: var(--color-text-secondary);
  font-size: 0.8rem;
}
main a {
  color: var(--color-accent);
  text-decoration: underline;
  font-weight: 700;
}

hr {
  border-radius: 20px;
  border: var(--color-border) 2px solid;
  margin: 20px 5%;
}

code {
  font-family: "Source Code Pro", monospace;
  background-color: var(--color-background-second);
  border-radius: 7px;
  color: var(--color-accent);
  padding: 1px 6px;
  font-size: 14px;
  border: 1px solid var(--color-border);
}

pre code {
  background-color: transparent;
  color: var(--color-text);
  border-radius: 0;
  padding: 0;
  border: 0px;
}

kbd {
  background-color: var(--color-background-second);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  padding: 3px;
  font-size: 14px;
  cursor: pointer;
}

kbd:active {
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-border);
  border-left: 2px solid var(--color-border);
  padding-bottom: 4px;
  padding-left: 4px;
}

mark {
  background-color: var(--color-background-second);
  color: var(--color-accent);
  margin: 0;
  padding: 2px 6px 3px 6px;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

table th {
  background-color: var(--color-background-mute);
  color: var(--color-accent);
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
}

table td {
  color: var(--color-text);
  padding: 10px 20px;
}

table tr {
  background-color: var(--color-background);
}

table tr:nth-child(2n) {
  background-color: var(--color-background-second);
}

table tr:first-child {
  border-bottom: 0px solid var(--color-border);
}

/* Others */

#coming-soon {
  background-color: #ffec1faf;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: var(--base-shadow);
  margin-bottom: 20px;
  color: #291d00f1;
  width: 100%;
  text-align: center;
}

#coming-soon h1 {
  font-size: 2em;
  margin-top: 0 !important;
  font-weight: 800;
  margin-bottom: 0 !important;
}

#coming-soon p {
  margin-top: 0 !important;
}

#NotFound {
  background-color: var(--color-background-second);
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: var(--base-shadow);
  margin-bottom: 20px;
  color: var(--color-text-secondary);
  width: 100%;
  text-align: center;
}

#NotFound h1 {
  font-size: 2em;
  margin-top: 0 !important;
  font-weight: 800;
  margin-bottom: 0 !important;
}

#NotFound span {
  font-size: 7em;
  font-weight: 800;
  letter-spacing: -12.2px;
  line-height: -2px;
  color: var(--color-text);
}

ul {
  list-style: disc;
  margin: 10px 0px 10px 50px;
}
