@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url(/styles/color.css);
@import url(/styles/style.css);
@import url(/styles/common.css);

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

main {
  margin: 5% 30%;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}


html {
    scrollbar-color: var(--accsent-color) rgba(0,0,0,0);
    accent-color: var(--accsent-color);
} 