.table-small table {
  width: max-content;
}

.center {
  text-align: center;
}

.home {
  #title {
    margin: 0px;
    font-size: 2.5rem;
    color: var(--color-accent);

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(95deg, #ff8330 32.27%, #f4bd98 68.51%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .lang {
    display: none;
  }

  #features ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));

    @media screen and (max-width: 37.5rem){
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
    min-width: 100%;
    padding: 0;
    gap: 10px;

    li {
      list-style: none;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
      background-color: var(--color-background-second);
      border-radius: 8px;
      transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;

      .emoji {
        font-size: 30px;
        background-color: var(--color-background-mute);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 6px;
        width: 48px;
        height: 48px;
        font-size: 24px;
        transition: background-color 0.25s;
        cursor: default;
      }
    }
  }

  #aeolus,
  #quote {
    text-align: center;
    font-style: italic;
    color: var(--color-text-secondary);
    font-weight: 500;
  }

  #desc {
    font-weight: 500;
    color: var(--color-text-secondary);
  }

  aside {
    width: 40%;

    h2 {
      font-size: 32px;
      margin: 5px 0;
    }

    @media screen and (max-width: 37.5rem) {
      width: 100%;
    }
  }

  #journey {
    padding: 0;
  }
}

.more-links ul {
  padding: 0;

  li {
    list-style: none;
    text-align: center;

    a {
      display: flex;
      flex-direction: column;
      gap: 0;
      height: 100%;
      width: 100%;
      background-color: var(--color-background-second);
      color: var(--color-text);
      text-decoration: none;
      text-align: left;
      padding: 18px 20px;
      border-radius: 8px;
      font-weight: 500;
      transition: transform 0.3s ease, background-color 0.3s ease,
        text-decoration 0.3s ease, color 0.3s ease;

      &:hover {
        transform: scale(1.05);
        text-decoration: none;
        background-color: var(--color-background-mute);
      }

      &:active {
        transform: scale(0.9);
        text-decoration: none;
      }

      strong {
        margin: 0 !important;
        text-decoration: underline 2px solid var(--color-accent);
        font-weight: 800;
        letter-spacing: 0 !important;
        font-size: 20px;
        color: var(--color-accent);
      }
    }
  }
}
