// Used for custom styles for the theme, that are not theme specific & there by default, user made.
// Good example is the color scheme, which is not theme specific, but user made, all you need is put the hex, and a color pallate is generated.

@use "sass:color";

$color-accent: #d16014; //D62839

.table-small table {
  width: max-content;
}

.center {
  text-align: center;
}

.home {
  #title {
    margin: 0px;
    color: var(--color-accent);

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(95deg, #ff8330 32.27%, #f4bd98 68.51%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  #aeolus,
  #quote {
    text-align: center;
    font-style: italic;
    color: var(--color-text-secondary);
    font-weight: 500;
  }

  #desc {
    font-weight: 500;
    color: var(--color-text-secondary);
  }

  aside {
    width: 40%;
    h2 {
      font-size: 32px;
      margin: 5px 0;
    }

    @media screen and (max-width: 37.5rem) {
      width: 100%;
    }
  }
}
