@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css");
@import url(inter-ui/inter.css);
@import url(./color.css);
@import url(./style.css);
@import url(./common.css);

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

main {
  margin: 7% 25%;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

::selection {
  color: var(--color-background);
  background-color: var(--color-accent);
}

html {
  scrollbar-color: var(--color-accent) rgba(0, 0, 0, 0);
  accent-color: var(--color-accent);
}

@media screen and (max-width: 1414px) {
  main {
    margin: 150px 30px;
  }
  nav {
    padding: 5px 20px;
  }
  nav h1,
  nav ul li a {
    font-size: 16px;
  }

  nav ul li a {
    margin: 0 10px;
  }

  nav .fa-brands {
    font-size: 16px;
  }

  code {
    padding: 2px 5px !important;
    margin-top: 15px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1414px) and (max-width: 1902px) {
  main {
    margin: 7% 20%;
  }
}