h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -1.2px;
}

h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.2px;
  margin: 15px 0;
}

pre {
  font-family: "Source Code Pro", monospace;
  background-color: var(--color-background-second);
  border-right: var(--color-accent) 5px solid;
  padding: 15px 20px;
  overflow: auto;
  max-width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  max-height: 350px;
}

blockquote {
  border-left: var(--color-accent) 5px solid;
  border-radius: 8px 50px 50px 8px;
  background-color: var(--color-background-second);
  padding: 10px 19px;
  margin: 0;
  width: max-content;
  max-width: 97%;
}

blockquote p {
  color: var(--color-text-secondary);
  margin: 0;
}

img {
  border-radius: 10px;
  width: 100%;
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out, border 1.5s ease;
}

img:hover {
  transform: scale(1.1);
  border: var(--color-border) 2px solid;
  border-radius: 20px;
  cursor: zoom-in;
}

img:active {
  transform: scale(1.3);
}


main a {
  color: var(--color-accent);
  text-decoration: underline;
  font-weight: 700;
}

hr {
  border-radius: 20px;
  border: var(--color-border) 2px solid;
  margin: 20px 5%;
}

code {
  font-family: "Source Code Pro", monospace;
  background-color: var(--color-background-second);
  border-radius: 10px;
  padding: 3px;
  font-size: 14px;
}